services:
  nginx-proxy:
    image: docker.io/nginxproxy/nginx-proxy:2678-alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: "1"
      HOST: "0.0.0.0"
      PORT: "8080"
    expose:
      - "8080"
    restart: unless-stopped
    depends_on:
      - nginx-proxy

  frontend:
    build:
      context: ./frontend
      dockerfile: dev/Dockerfile
      args:
        VITE_API_URL: "/api"
    environment:
      - VIRTUAL_HOST=localhost
      - VIRTUAL_PORT=80
    expose:
      - "80"
    restart: unless-stopped
    depends_on:
      - nginx-proxy
